.home-container {
    padding: 40px;
}

.home-description{
    color: #7E7E7E;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.start-button, .start-button:hover {
    color: #fff;
}
